@import "vars";
@import "vendor/reset";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

html {
    font-size: 62.5%;
   

}
*{
    font-family: "Roboto";
}
body {
    overflow-x: hidden;
    margin:0 auto;
    background-color: #181818;
    font-family: "Roboto";
    font-size: 1.4rem;
    color: $white;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }


}

/*Blocks*/

@import"blocks/header";
@import"blocks/sidebar";
@import"blocks/main";
@import"blocks/container";
@import"blocks/page";
@import"blocks/add-post";
@import"blocks/post";
@import"blocks/page-nav";
@import"blocks/stories";
@import"blocks/burger-menu";
@import"blocks/text-page";
@import"blocks/story-modal";
@import"blocks/works";
@import"blocks/search-result";
@import"blocks/profile";
@import"blocks/auth";
@import"blocks/contact-modal";
@import"blocks/modal-container";








