.header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 50px;
    width: calc(100% - #{$sidebar-width});
    background-color: #0D0D0D;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: $z-index-header;

}
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: #FFFFFF;
   }

    li{
       padding: 18px 12px;
       list-style: none;
       text-transform: uppercase;
       text-align: center;
    }
    li:hover{
        background: #3137C9;
        transition: .2s;
    }
    :last-child{
        align-self:flex-end;
   
}
