.header {
    color: #FFFFFF;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    height: 50px;
    width: calc(100% - #{$sidebar-width});
    background-color: #0D0D0D;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: $z-index-header;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

}
.header__nav{
    display: flex;
    flex-direction: row;
    
}
.header__nav__link{
    list-style-type: none;
    display: inline-block;
    color: #eeee;
    margin: 0 auto;
    font-weight: 600;
    padding: 18px 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.header__nav__link:hover{
    background: #3137C9;
    transition: .2s;
    
}
.droping:hover{
    background: #3137C9;
   
    .header__svg{
        transition: .3s;
         transform: rotate(-180deg);
    }
    .dropdown__links{
        visibility: visible;
    }
}
.dropdown__links{
    visibility: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    background:#3137C9;
    a{
        color: #eee; 
        text-decoration: none;
        float: left;
        padding: 10px 45px 10px 10px;
        text-align: start;
        padding-top: auto;
        cursor: pointer;
    }
    a:hover{
        background:#070b92 ;
    }
}
.header__right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.header__search__form{
    input{
        font-size: 16px;
        color: #eee;
        padding: 15px 15px;
        height: 50px;
        margin: auto;
        background: #202020;
        text-decoration: none;
        border: none;
    }
} 
@media (max-width: 999px ) {
    .header{
        width: 100%;
        justify-content: center;
    }
}
@mixin breakpoint($br){
    @media  (max-width:$br) {
        @content
        
    }
}


@media (max-width: 680px ){
    .header{
        justify-content: space-between;
    }
    .header__nav__link{
        display: none;
        
    }
    
}
