.modal-container {
    background: rgba($color: #000000, $alpha: 0.5);
     position: fixed;
     width: 100%;
     height: 100%;
     z-index: 1000;
     padding-left: 300px;
     top: 0;
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .modal-container--hidden{
     position: fixed;
     background:none;
     width: 100%;
     height: 100%;
     visibility: hidden;
     z-index: 0;
     padding-left: 300px;
     top: 0;
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
 
 }