.text-page {
    padding: 16px 15px 150px 35px;
    background: $grey;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    overflow:hidden;

}
.text-page__links-item {
   display: flex;
   justify-content: space-between;
   text-align: center;
   padding-bottom:15px ;

}
.back-link::before,.share-link:before{
    display: none;
}
.back-link:hover,.share-link:hover{
    color: blueviolet;
}
.back-link {
    text-align: center;
    margin-top: 7px;

}
.share-link {
    margin-left:auto;
    text-align: center;
}
.text-page__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.post-body {
    margin-top: 30px;

}
.post__img {
    padding-right: 15px;
    max-width: 550px;
    margin-bottom: 25px;
}
.recommended-post {
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px #1C1C1C solid;
    border-bottom: 1px #1C1C1C solid;
}
.recommended-post__title {
    font-size: 16px;
    margin-bottom: 20px;
}
.recommended-areya {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}
.recommended-areya__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    
}
.recommended__link {
    font-size: 14px;
    color: #F3EBA2;
    text-decoration: none;
    margin-bottom: 5px;
    &:hover{
        text-decoration: underline;
    }
}

.discussion {
    display:flex;
    flex-direction: column;
    position: relative;
}
.discussion__title {
    font-size: 16px;
    margin-bottom: 10px;
}
.discussion-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.discussion-form-answer{
    position: absolute;
    display: flex;
    visibility: visible;
    flex-direction: column;
    background: $grey;
    box-shadow: 0 5px  10px 3px black;
    width: 100%;
    border-radius: 10px;
    padding: 10px 5px;
    transition: .4s opacity ;
    transform: translate(-2px, 10px);
}
.discussion-form-answer--h{
    display: flex;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.discussion-input {
    font-size: 14px;
    padding: 10px 5px;
    background: $grey;
    margin-bottom: 12px;
    border-style: none;
    color: #ffff;
    border-bottom: 1px #3F3F3F solid;
}
.discussion-btn {
    width: 91px;
    height: 30px; 
    background: #3137C9; 
    border-style: none;
    border-radius: 5px;
    text-align: center;
    color: #ffff;
    transition: .4s;
    &:hover{
        box-shadow: inset 0px 0px 150px 100px #23268a;
    }
}
.comments__item {
    margin-bottom: 30px;
    
}
.commentator__prof {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.prof-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}
.commentator__name {
    margin-bottom: 5px;
}
.comment__time {
    font-family: "Roboto";
    font-size: 12px;
}
.comment__text {
    margin-bottom: 5px;
    font-size: 12px;
    letter-spacing: .8px;
    line-height: 14px;

}
.comment__answer-link {
    text-decoration: none;
    color: #107EFF;
    cursor: pointer;
    
}