<div class="post">
    <div class="post__content">
        <p class="post__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repellat error nesciunt
            dicta quam reprehenderit libero cupiditate cumque optio, dolorem, doloribus, perspiciatis itaque. Ducimus
            blanditiis provident, necessitatibus facilis illum quaerat?</p>
        <div class="post__footer">
            <time class="post__time">10.10.2021</time>
        </div>
    </div>
</div>
<div class="post">
    <img class="post__image" src="/assets/images/post1.jpg" alt="post-img">
    <div class="post__content">
        <h2 class="post__title"> Как писать код просто и безболезненно?</h2>
        <p class="post__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repellat error nesciunt
            dicta quam reprehenderit libero cupiditate cumque optio, dolorem, doloribus, perspiciatis itaque. Ducimus
            blanditiis provident, necessitatibus facilis illum quaerat?</p>
        <div class="post__footer">
            <time class="post__time">10.10.2021</time>
            <a class="post__tag">создание сайтов</a>
            <a class="post__link">Читать</a>
        </div>
    </div>
</div>
<div class="post">
    <img class="post__image" src="/assets/images/post2.png" alt="post-img">
    <div class="post__content">
        <h2 class="post__title"> Как я купил ноутбук за 150 000р</h2>
        <div class="post__footer">
            <time class="post__time">10.10.2021</time>
            <a class="post__tag">продвижение видео</a>
            <a class="post__link">Читать</a>
        </div>
    </div>
</div>
<div class="post">
    <img class="post__image" src="/assets/images/post3.jpg" alt="post-img">
    <div class="post__content">
        <h2 class="post__title"> Как я сходил на front-end conf</h2>
        <p class="post__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci repellat error nesciunt
            dicta quam reprehenderit libero cupiditate cumque optio, dolorem, doloribus, perspiciatis itaque. Ducimus
            blanditiis provident, necessitatibus facilis illum quaerat?</p>
        <div class="post__footer">
            <time class="post__time">10.10.2021</time>
            <a class="post__tag">создание сайтов</a>
            <a class="post__link">Читать</a>
        </div>
    </div>
</div>