<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>

    <div class="page">
    
        {{> header }}
        {{>sidebar}}
   

        <main class="main">
            {{> stories }}
            
            <div class="container">
                <div class="modal-container--hidden" id="modal-container">
                {{> story-modal }}
                {{> contact-modal }}

            </div>
            </div>
        </main>
    </div>
 </div>


    <script src="assets/js/app.js"></script>
				 
</body>

</html>
